@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
}

.left-section{
    width: 35vw;
    height: 100vh;
    background: url(background.avif) no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    flex: 0 1 auto;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    height: fit-content;
}
.logo-img{
    height:200px;
    margin: 0;
}
.logo-text{
    font-family: "norse-bold";
    font-size: 200px;
    color: white;
    margin: 0;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
}
.name,
.contact,
.passwords{
    display: flex;
    gap: 70px;
}
.first-name,
.last-name,
.email,
.phone,
.password,
.password-confirm{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: Helvetica, Arial, sans-serif;
    width: 20rem;
}

input{
    height: 2rem;
    border-radius: 5px;
}

button{
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

.login{
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 20px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #596D48;
}

.credit{
    color: white;
    align-self: flex-end;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}


input:focus{
    outline: 2px solid blue;
}

input{
    border: 2px solid #E5E7EB;
}

#password:invalid,
#password-confirm:invalid,
#email:invalid,
#phone:invalid,
.password #password.error,
.password #password-confirm.error{
    border: 2px solid red;
    outline: none;
}

.error-message{
    color:red;
    font-size: 18px;
}

#email:empty,
#phone:empty,
#password:empty,
#password-confirm:empty{
    border: 2px solid #E5E7EB;
}


#email:valid,
#phone:valid,
#password:valid,
#password.match,
#password-confirm.match{
    border: 2px solid green;
    outline: none
}

